target/
*.log
.idea/
*.iml
.vscode/
.mvn/wrapper/maven-wrapper.jar
.env
.env.*
src/main/resources/application-local.properties
src/main/resources/application-dev.properties
src/main/resources/application-test.properties
